<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentaireLabel" jhiTranslate="kekenApp.commentaire.home.createOrEditLabel">Create or edit a Commentaire</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!commentaire.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="commentaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kekenApp.commentaire.note" for="field_note">Note</label>
            <input type="number" class="form-control" name="note" id="field_note"
                [(ngModel)]="commentaire.note"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kekenApp.commentaire.commentaire" for="field_commentaire">Commentaire</label>
            <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                [(ngModel)]="commentaire.commentaire"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="kekenApp.commentaire.biere" for="field_biere">Biere</label>
            <select class="form-control" id="field_biere" name="biere" [(ngModel)]="commentaire.biere" >
                <option [ngValue]="null"></option>
                <option [ngValue]="biereOption.id === commentaire.biere?.id ? commentaire.biere : biereOption" *ngFor="let biereOption of bieres; trackBy: trackBiereById">{{biereOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="kekenApp.commentaire.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="commentaire.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userExtraOption.id === commentaire.user?.id ? commentaire.user : userExtraOption" *ngFor="let userExtraOption of userextras; trackBy: trackUserExtraById">{{userExtraOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
